body{
    margin:0;
    font-family:'Inter', sans-serif;
    background:#faf9f6;
    color:#1f2937;
}


header{
    position:relative;
    background-image: url("images/sfondo2.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:100px 20px;
    min-height:300px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

header h1,
header p{
    position:relative;
    z-index:1;
}

header::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
    z-index:0;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

.card{
    background:#ffffff;
    padding:25px;
    margin:20px 0;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

h2{
    color:#0f3d5e;
}

header h1{
    font-size:3rem;
    margin-bottom:10px;
    letter-spacing:1px;
}

header p{
    font-size:1.3rem;
}

header img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:15px;
    border:0px solid white;
    z-index:1;
}

header img,
header h1,
header p{
    animation: fadeInUp 1s ease forwards;
    opacity:0;
}

header img{
    animation-delay:0.2s;
}

header h1{
    animation-delay:0.5s;
}

header p{
    animation-delay:0.8s;
}


@keyframes fadeInUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}


nav{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.7);
    z-index:10;
    backdrop-filter:blur(8px);
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:30px;
    margin:0;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:1rem;
    transition:0.3s;
}

nav a:hover{
    color:#8ecbff;
}

h1,
h2,
h3{
    font-family:'Playfair Display', serif;
}


@media (max-width: 768px){

    nav ul{
        gap:15px;
        font-size:0.9rem;
        flex-wrap:wrap;
        padding:10px;
    }

    header{
        padding:80px 20px;
        min-height:250px;
    }

    header img{
        width:90px;
        height:90px;
    }

    header h1{
        font-size:2.2rem;
    }

    header p{
        font-size:1rem;
    }

    section{
        padding:30px 20px;
    }

}
#about{
    text-align:center;
}

#about p{
    max-width:700px;
    margin:20px auto;
    line-height:1.7;
}